*{
    margin: 0;
    /*padding: 0;*/
    box-sizing: border-box;
}
body{
    font-family: 'open sans';
}
.contenedor{
    padding: 70px 0;
    width:  100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: rgb(4, 54, 87);
    font-size:  40px;
    text-align: center;
    padding-bottom: 30px;
}
header{
    width: 100%;
    height: 600px;
    /*background: #d9a7c7;  /* fallback for old browsers */
  /*  background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
    background:  url(../img/manos.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.logo{
    width: 30%;
    height: 70px;
}
nav{
    text-align: right;
    padding:  30px 50px 0 0;
}
nav > a{
    color: azure;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 20px;
}
.icon-Inicio-3:before {
    content: "\e902";
  }
nav > a:hover{
    text-decoration: underline;
}
.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

.menu-icon, #check{
    display: none; /*esto es para que n ose vea todavia*/
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 80px;
    color: rgba(251, 40, 44, 1);
    background:rgba(255, 255, 255, 0.329);
    border-radius: 10%;
} 
.textos-header h5{
    font-size: 30px;
    color: rgb(19, 18, 18); 
    background:rgba(255, 255, 255, 0.329);
}
.textos-header h2{
    font-size: 40px;
    font-weight: 300;
    color: #fff;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
main .sobre-nosotros{
    padding: 35px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}
.imagen-about-us{
    width: 50%;
    margin-left: 20px;
    transform-origin: center;
  transition: transform 0.3s ease-in-out;
  margin-left: 20px;
}
.imagen-about-us:hover {
  transform: scale(1.1) translateX(10px);
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}
.contenido-textos h3{
    margin-bottom: 15px;
}
.contenido-textos h3 span{
    background: rgb(4, 54, 87) ;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;  
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0,0.5);
    margin-right: 5px;
}
.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
/*objetivos*/
.objetivos{
    padding-bottom: 20px ;
}
main .sobre-objetivos{
    padding: 35px 0 60px 0;
}
.contenedor-objetivos{

    background: url(../img/objetivos1.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed ;
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    font-size: 20px;
}

.sobre-objetivos .contenido-textos{
    width: 30%;
    background-size: 100vw 100vh;
    background-attachment: fixed ;
}
/* Video responsivo */
video {
  width: 100%;
  max-width: 1200px;
  border: 4px solid #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  margin: 30px auto;
  display: block;
}
/*Proyectos*/
.about-proyectos{
    background: rgb(211, 102, 104);
    padding-bottom: 30px ;
}
.proyecto-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.proyecto-ind{
    width: 28%;
    text-align: center;
}
.proyecto-ind img{
    width: 100px;
    height:180px;
    width: 90%;
    vertical-align: middle;
    border-radius: 40%;
}

.proyecto-ind h3{
    margin: 10px 0;
    color: rgb(240, 241, 154)
}
.proyecto-ind p{
    font-weight: 300;
    text-align: justify;
    color: #f2f2f2
}
li{
    font-weight: 300;
    text-align: justify;
}

/*galeria*/
.portafolio{
    background: #f2f2f2;
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    height: 200px;
}
.imagen-port > img{
    width: 97%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria img{
    width: 60px;
    color: #fff;
}
.hover-galeria p{
    color: #fff;
}
.imagen-port:hover .hover-galeria{
    transform: scale(1);    
}
 
h4 {
    color: #fff;
    margin: 10px;
    font-size: 30px;
    margin-bottom: 10px;  
}

    #carrusel {
      margin: 40px auto;
      background: #cfc9c9;
      padding: 50px;
      border-radius: 12px;
      text-align: center;
    }

    .contenedor-portafolio {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 30px;

    }
    .imagenes-carrusel {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-bottom: 12px;
    }
    .imagenes-carrusel img {
      width: 250px;
      height: 180px;
      object-fit: cover;
      border-radius: 8px;
      box-shadow: 0 1px 4px rgba(0,0,0,0.15);
      opacity: 0;
      transition: opacity 0.8s, transform 0.1s;
    }
    .imagenes-carrusel img.visible {
      opacity: 1;
    }

    /*este es el zoom de la imagen al pasar el mouse*/
    .imagenes-carrusel img:hover {
      transform: scale(1.15);
      z-index: 2;
    }
    
  .flecha {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 48px;
    height: 50px;
    color: #5c5d5e;
    background: #f3ebeb;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    transition: color 0.2s;
    box-shadow: 0 2px 8px rgba(33, 78, 161, 0.87);
  }
  .flecha:hover {
    color: #141f2c;
    background: #eee;
  }

  .flecha-izq {
    margin-right: 10px;
  }
  .flecha-der {
    margin-left: 10px;
  }
  #carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    /* ...resto de tu estilo... */
    flex-direction: row;
  }
  .imagenes-carrusel {
    flex-shrink: 0;
  }
  #carrusel button {
    display: none; /* Oculta los botones antiguos */
  }


/*Donar*/
.donar-texto h2 {
    margin-top: 15px;
    text-align: center;
}
.font-cursive {
    font-family: 'Grape Nuts', cursive;
    padding: 5px;
    text-align: center;
}

.contenedor-donar {
    background-size: 100vw 100vh;
    display: flex;
    align-items: center;
    background-attachment: fixed ;
    justify-content: space-between;
}
.donar {
    background: url(../img/objetivos1.jpg);
    background-size: 100vw 100vh;
}
.textobancolombia {
    font-size: 21px;
}
.donar-texto{
    padding: 5%;
}

.donar h3{
font-size:20px;
color:rgb(4, 54, 87);
text-align: center

}
.donar-texto2 {
    width: 30px;
    display: flex;
    justify-content: space-evenly;
    background-size: 100vw 100vh;
    background-attachment: fixed ;
    padding: 2%;
    font-size: 20px;
}

.titulodonar {
    font-size: 80px;
    margin-top: 15px;
    text-align: center;
}
.btn-donar {
    position: fixed;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 1;
    float: left;
    box-shadow: 0 1px 5px #212529;
}
.btn-donar img{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    background: white;
}
.btn-donar:hover{
    text-decoration: none;
}

.btn-whatsapp {
    margin: 10px 20px 20px 250px;
    width: 50%;
    padding: 8px 5px 10px 10px;
    height: fit-content;
    background:#188557;
    color: #f2f2f2;
    cursor: pointer;
    display: flex;
    font-weight: bold;   
    font-size: 1.5vmax;
    border: 1px solid rgb(19, 18, 18);
    align-items: center;
    justify-content: space-around;
    border-radius: 80px;
}
.btn-whatsapp:hover {
    background: #7793aa;
    transition: .2s ease-in-out;
}
  
h6 {
    margin: 40px 0px 0px 90px;
    font-size: 15px;
    margin-bottom: 30px; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
        font-size: 22px;
        text-decoration: none;}

.fab {
        font-family: "Font Awesome 5 Brands";
}
.textgracias{
    text-align:center;
    padding-bottom: 10px;
    font-size: 30px;
}
.imgdonar {
    justify-content: left;
    max-width: 100%;
    padding: 30px;
 }

/*contactos*/
footer  {
   background: url(../img/contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;  /*esto es para que el contenido ruede encima de la foto al igual que al inicio */
}
form {
    width: 450px;
    background: rgba(22, 11, 11, 0.137);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-right: 100px;
   }  
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    border: none;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton{
    background:rgba(243, 243, 245, 0.573);
    padding: 20px;
    border-radius: 10;
}
#boton:hover{
    cursor: pointer;
}
    /**footer o contactos*/
.contenedor-contac{
    width: 90%;
    max-width: 3000px;
    margin: auto;
    padding: 20px 0;
    display: flex;
    border-bottom: 1px solid rgb(15, 15, 15);
    }
    .contac-info {
        background-color: rgba(0, 0, 0, 0.137);
        border-radius: 20px;
        margin-left: 20px;
    }
.contenedor-inf{
    width: 100%;
    padding: 45px;
    max-width: 5200px;
    border-bottom: 1px solid rgb(15, 15, 15);
    }
    .titulo-final{
    color: rgba(1, 15, 24, 1);
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
    }

/* responsay para moviles*/
@media screen and (max-width:900px){
   
    header {
        background-position: center;
    }
    .textos-header h1{
        font-size: 100px;
    }
    .textos-header h5{
        font-size: 26px;
    }
    .textos-header h2{
        font-size: 65px;
    }

    .donar h3{
        font-size: 21px;
    }
    .contenedor-sobre-nosotros{
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
     .sobre-nosotros .contenido-textos{
            width: 90%;
     }
     .contenedor-objetivos{
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
     .sobre-objetivos .contenido-textos{
            width: 90%;
     }
   
     /* galeriak*/
     .imagen-about-us{
         width: auto;
     }
     .imagen-port{
         width: 44%;
     }

/*proyectos*/
   .proyecto-cont{
    justify-content: center;
    flex-direction: column;
}
.proyecto-ind{
    width: 95%;
    text-align: center;
}
.proyecto-ind:nth-child(1), .proyecto-ind:nth-child(2){
    margin-bottom: 60px;
}
   .proyecto-ind img{
       width: 70%;
   } 
   .about-proyectos {
    padding: 0 px;
   }
  .contenedor-footer {
        background-position: center;
    }
   
    @media screen and (max-width:500px) {
        .checkbtn{
            display: block;
        }
        .menu-icon{
            display: block;
            position: fixed;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }
        .show{
            display: block;
            position: fixed;
            top: 0px;
            left: -100%;
            background: rgba(34, 34, 34, 0.695);
            width: 100%;
            height: 100vh;
            left: 0; 
            z-index: 1;
            transform: translate(0, 0);
            transition: .5s ease-in-out;
        }

    /* galeria*/
  
    .imagen-about-us{
        width: 100%;
    }
    .imagen-port{
        width: 44%;
    }

   #carrusel {
    flex-direction: column; /* apilar verticalmente */
    align-items: center;
  }

  #carrusel img {
    width: 90%; /* ocupar buen espacio en pantalla pequeña */
    max-width: none;
  }
    /* donar */
   .donar{
    background: url(../img/objetivos1.jpg);
    background-size: 100vw 250vh;
    
   }
     .contenedor-donar{
        background-size: 100vw 200vh;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .btn-donar:hover  {
        text-decoration:none !important;
    }
    
    .btn-donar {
        width: 25%;
        height: auto !important;
        bottom: 60px;
     }
    .bancolombia{
        width: 85%;
        padding:1px 0px 3px 45px;
    }
    .textobancolombia{
        font-size: 20px;
    }
    .h6{
        font-size: 18px;    
    }
    .imgdonar{
       max-width: 80%;
        padding: 1px 0px 20px 10px;
        justify-content: center;
    }
    .textgracias{
        font-size: 25px;
    }
      .btn-whatsapp{
        width: 40%;
        margin: 10px 0px 20px 200px;
        padding: 8px 5px 10px 5px;
        font-size:1.5vmax;
        justify-content:space-around;
      }

        .contenedor-contac {
            width: 90%;
            max-width: 1200px;
            margin: auto;
            padding: 30px 0;
            display: block;
        }
        .contac-info {
            margin-top: 10px;
            background-color: rgba(0, 0, 0, 0.137);
            border-radius: 20px;
        }
        .contenedor-inf {
            width: 100%;
            padding: 10px;
            max-width: 1200px;
        }
        .nav-menu nav > a{
            padding: 2rem;
            display: flex;
            justify-content: center;
            margin: 0;
        }
        .nav-menu nav > a:last-child{
            background: none;
            padding: 1rem;
        }
        .nav-menuobjetivos {
            padding: 2rem;
            justify-content:flex-end;
            width: 90%;
            max-width: 1200px;

        }
        /* #check:checked ~ nav{
            left: 0; 
            z-index: 1;
            transform: translate(0, 0);
            transition: .5s ease-in-out;
        } */
    
        nav{
            display: none;
            padding: 30px 0 0 0;
        }
        nav > a{
            margin-right: 5px;
            width: 100%;
        }
        .textos-header h1{
            font-size: 35px;  
        }
        .textos-header h2{
            font-size: 20px;
        }
       
        .sobre-nosotros .contenido-textos{
            width: 80%;
        }
        /*galeria*/
        .imagen-port{
            width: 95%;
        }
        form{
            width: 100%;
        }
        /*footer*/
       .contenedor-footer{
           flex-direction: column;
          background-position: center;
    }
       .content-foo{
           margin-bottom: 20px;
           text-align: center;
       }
       .content-foo h4{
           border: none;
       }
       .content-foo p{
           color: #ccc ;
           border-bottom: 1px solid #f2f2f2;
           padding-bottom: 20px;  
       }
       .titulo-final{
           font-size: 20px;
       }
    }
}